/* 
  Write here your CSS rules for HackYourRepo!
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
}

.container{
  margin: 0 auto;
  width: 70%;
  height:100%;
}

.blue-header{
  width: 100%;
  height:50px;
  padding: 1rem;
  background-color:#3F51B5 ;
  color: white;
}

.blue-header label,select{
  margin: 0 0.5rem;
}

.blue-header select{
  width: 150px;
  height: 25px;
  font-weight:500;
  font-size: 0.9rem;
}

.flex {
  display: flex;
}

.m-left{
  width: 50%;
  border: 1px solid #DCDCDC;
  box-shadow:0.5px 1.5px #DFDFDF;
  border-radius: 3px;
  margin: 0.2rem;
  padding-top:0.5rem;
}

.m-left div{
  margin:0.4rem 1rem;
  font-size: 1rem;

}

.m-left label{
  font-weight:700;
  width: 30%;
}

.m-left p,a{
  font-weight:200;
  line-height: 1.5rem;
  width: 70%;

}

.m-right{
  width: 50%;
  font-size: 1rem;
}

.m-right>div {
  border:1px solid  #DCDCDC;
  box-shadow:0.5px 1px #DCDCDC;
  border-radius: 3px;
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0.1rem;
  align-items: center;
}

.mr-firstrow{
  color: #8d8b8b;
  height: 4rem;
}

.mr-secondrow,.mr-thirdrow {
 height: 5rem;
 justify-content: space-between;
}


 .frok-no{
  text-align: center;
  width: 30px;
  height: 30px;
  background-color:#A9A9A9;
  border-radius: 3px;
  color: white;
}

/* .person-img{
  width: 100px;
  height: 100px;;
} */

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3F51B5;
  height: 40px;
  color: white;
  padding: 1rem;
  align-items: center;
}

@media only screen and (max-width: 500px){
  .container{
    width: 100%;
  }
  .m-left,.m-right {
    width: 99%;
  }
  .main {
    flex-direction: column;
  }
}

@media only screen and (max-width:765px)  and (min-width: 501px){
  .container{
    width: 80%;
  }
  .m-left {
    width: 100%;
  }
  .m-right{
    width: 70%;
  }
  .main {
    flex-direction: column;
    align-items:flex-end;
 }
}