*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  color: #444852;
}

h1{
  color:#FA6E4F;
  margin: 1rem;
}

.container{
  margin: 0 auto;
  width: 70%;
  height: auto;
  padding: 1rem;
}

.container p {
  margin: 1rem;
  font-size: 1.5rem;
}

.main{
  background-color :#8EC9BB;
  margin: 1rem;
}

.questionDivStyle{
  padding: 0.5rem;
  font-size: 1.1rem;
}

.questionDivStyle:hover{
  background-color: #F8CA9D;
}

.correctAnswer{
  background-color:#C5D7C0;
  padding: 0.5rem;
  font-weight: bold;
  }